

<div class="form">
   <dn-range clabel="Estab" [(cini)]="valEstabIni" [(cfim)]="valEstabFim"></dn-range>
   <dn-range clabel="Série" cini="" cfim="ZZZ"             ></dn-range>
   <dn-range clabel="Item"  cini="" cfim="ZZZZZZZZZZZZZ9" cmask="AA.AAA.AAAA-AA"></dn-range>
</div>

<po-button p-label="Executar" (p-click)="onMostrar()"></po-button>



















<!---
<div class="principal">
   <div class="navega">
      <div class="vaPara">
         <po-input p-label="Estab" style="width: 50px;"></po-input>
         <po-input p-label="Filial" style="width: 50px;"></po-input>
         <po-input p-label="Reparo"></po-input>
         <po-button p-icon="bi bi-check2" p-type="Submit" style="margin-top: 32px;"></po-button>

         <div class="zoom">
            <po-button p-icon="bi bi-zoom-in"></po-button>
         </div>
      </div>
      <div class="controleCentral">
         <po-button p-icon="bi bi-grid-3x3"></po-button>
         <po-button p-icon="bi bi-clipboard2-data"></po-button>
         <po-button p-icon="bi bi-qr-code"></po-button>
      </div>
   </div>
   <div class="cabec">
      <div class="linha">
         <dn-input label="Estabelecimento:" text="" [width]="80" />
         <dn-input text="" [width]="600" />
      </div>

      <div class="linha">
         <dn-input label="Filial:" text="" [width]="80" />
         <dn-input text="" [width]="600" />
      </div>

      <div class="linha">
         <dn-input label="NumRR:" text="" [width]="200" />
         <dn-input label="Dígito:" text="" [width]="80" />
      </div>

      <div class="linha">
         <dn-input label="Situação:" text="" [width]="80" style="margin-right: 120px;" />
         <dn-input label="Mensagem:" text="" [width]="350" />
      </div>

      <div class="linha">
         <dn-input label="Item:" text="" [width]="200" />
         <dn-input label="" text="" [width]="600" />
      </div>

      <div class="linha">
         <dn-input label="Série:" text="" [width]="200" />
      </div>
   </div>

   <div class="abas">
      <po-accordion>
         <po-accordion-item p-label="Abertura">
            <div class="tresColunas">
               <div class="colA">
                  <div class="linha">
                     <dn-input label="NumOS:" text="" [width]="200" />
                  </div>
            
                  <div class="linha">
                     <dn-input label="Chamado:" text="" [width]="200" />
                  </div>
            
                  <div class="linha">
                     <dn-input label="ItProcomp:" text="" [width]="200" />
                     <dn-input label="" text="" [width]="400" />
                  </div>
            
                  <div class="linha">
                     <dn-input label="Série:" text="" [width]="200" />
                  </div>
            
               </div>

               <div class="colA">
                  <div class="linha">
                     <dn-input label="NumOS:" text="" [width]="80" />
                  </div>
            
                  <div class="linha">
                     <dn-input label="Chamado:" text="" [width]="80" />
                  </div>
            
                  <div class="linha">
                     <dn-input label="ItProcomp:" text="" [width]="200" />
                     <dn-input label="" text="" [width]="400" />
                  </div>
            
                  <div class="linha">
                     <dn-input label="Série:" text="" [width]="200" />
                  </div>
            
               </div>

            </div>
         </po-accordion-item>
         <po-accordion-item p-label="Observação">
         </po-accordion-item>
         <po-accordion-item p-label="Conclusão">
         </po-accordion-item>
         <po-accordion-item p-label="Fornecedor Externo">
         </po-accordion-item>
         <po-accordion-item p-label="Adicionais">
         </po-accordion-item>
         <po-accordion-item p-label="Banco de Reparos">

         </po-accordion-item>
      </po-accordion>

   </div>
</div>

-->