<div class='hero'>
  
  <div class="hero-one"></div>
  <div class="hero-two"></div>
  <h1 class="header-title">
    <span class="header-primary">AUTO ATENDIMENTO</span><span class="header-sub">HTMLA41</span>
  </h1>
  <div class="homepage">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <i class="bi bi-clipboard-data" style="font-size: 36px;"></i>
          <h3>Informe OS</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>HTMLA46 - Nova rotina do esaa046</p>
          <a [routerLink]="['/informe2']">Abrir</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <i class="bi bi-calculator" style="font-size: 36px;"></i>
          <h3>Cálculo</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Calculo necessidades para atendimento</p>
          <a [routerLink]="['/calculo']">Abrir</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <i class="bi bi-display" style="font-size: 36px;"></i>
          <h3>Monitor</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Acompanhamento etapas do processo</p>
          <a [routerLink]="['/monitor']">Abrir</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="face face1">
        <div class="content">
          <i class="bi bi-gear" style="font-size: 36px;"></i>
          <h3>Parâmetros</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Cadastro parâmetros das filiais </p>
          <a [routerLink]="['/paramestab']">Abrir</a>
        </div>
      </div>
    </div>


  </div>
  <h5 class="versao">

    <div>

      <span class="tracos">Versão: {{versao}}</span>
    </div>
  </h5>
</div>


