<div class="po-md-12">
  <po-button p-label="Nova Filial" (p-click)="onNovo()" p-icon="bi bi-plus" p-kind="primary"></po-button>
</div>
<div class="po-md-12">
  <po-table [p-items]="lista" 
            [p-actions]="opcoes" 
            [p-loading]="loadTela" 
            [p-striped]="true" 
            [p-columns]="colunas"
            [p-hide-table-search]="false" 
            [p-hide-columns-manager]="true" 
            p-container="true" 
            [p-height]="alturaGrid" />

</div>
<div style="margin-left: 20px;">
  <div>
    <i class="bi bi-exclamation-circle" style="float:left">&nbsp;</i>
    <po-info p-label="Os parâmetros são utilizados no programa de Cálculo para sugestão inicial de valores"
      style="display: block;"></po-info>
  </div>
</div>

<po-modal #cadModal
  [p-title]="tipoAcao ==='I' ? 'Novo Estabelecimento': tipoAcao ==='C' ? 'Copiar [' + nomeEstabel + '] ': nomeEstabel"
  p-size="lg" p-click-out="false" [p-hide-close]="true" [p-primary-action]="acaoSalvar"
  [p-secondary-action]="acaoCancelar">

  <div>
    <form [formGroup]="form">
      <div class="po-md-12" *ngIf="this.tipoAcao !== 'E' ">
        <po-combo formControlName="codEstabel" [p-options]="listaEstabelecimentos" p-label="Estabelecimento"
          p-icon="bi bi-pin-map" p-placeholder="Selecione o estabelecimento" p-clean="true">
          <ng-template p-combo-option-template let-option>
            <div class="po-row">
              <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
              <div class="po-sm-10 po-md-9 po-lg-11">
                <div class="po-font-text-large-bold">{{ option.label }}</div>
                <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
              </div>
            </div>
          </ng-template>
        </po-combo>
      </div>

      <div class="po-row">
        <div class="po-md-12">
          <po-divider p-label="Informações"></po-divider>
        </div>
      </div>

      <div class="po-row">
        <div class="po-md-6">
          <po-input formControlName="serieEntra" p-clean p-icon="bi bi-file-earmark-text" p-label="Série Entrada" />
        </div>

        <div class="po-md-6">
          <po-combo p-label="Transportadora Entrada" p-icon="bi bi-truck" [p-options]="listaTransp"
            p-placeholder="Selecione transportadora" [p-clean]="true" formControlName="codTranspEntra">
            <ng-template p-combo-option-template let-option>
              <div class="po-row">
                <div class="po-md-12">
                  <po-icon p-icon="bi bi-truck" class="po-sm-2 po-md-3 po-lg-1" p-size="sm"></po-icon>
                  <div class="po-sm-10 po-md-9 po-lg-11">
                    <div class="po-font-text-large-bold">{{ option.label }}</div>
                    <div class="po-font-text-smaller">Transportadora: {{ option.value }}</div>
                  </div>
                </div>
              </div>
            </ng-template>
          </po-combo>
        </div>
      </div>

      <div class="po-row" style="margin:10px 0 0 0">

        <div class="po-md-6">
          <po-input formControlName="serieSai" p-clean p-icon="bi bi-file-earmark-text" p-label="Série Saída" />
        </div>

        <div class="po-md-6">
          <po-combo p-label="Transportadora Saída" p-icon="bi bi-truck" [p-options]="listaTransp"
            p-placeholder="Selecione transportadora" [p-clean]="true" formControlName="codTranspSai">
            <ng-template p-combo-option-template let-option>
              <div class="po-row">
                <po-icon p-icon="bi bi-truck" class="po-sm-2 po-md-3 po-lg-1" p-size="sm"></po-icon>
                <div class="po-sm-10 po-md-9 po-lg-11">
                  <div class="po-font-text-large-bold">{{ option.label }}</div>
                  <div class="po-font-text-smaller">Transportadora: {{ option.value }}</div>
                </div>
              </div>
            </ng-template>
          </po-combo>
        </div>
      </div>

      <div class="po-row" style="margin:10px 0 0 0">
        <div class="po-md-6">
          <po-input formControlName="rpw" p-clean p-icon="bi bi-database-gear" p-label="RPW"> </po-input>
        </div>
        <div class="po-md-6">
          <po-input formControlName="codEntrega" p-clean p-icon="bi bi-pin-map" p-label="Entrega"> </po-input>
        </div>

      </div>
    </form>
  </div>
</po-modal>

<po-modal #loginModal  p-title="Efetuar Login" 
                         p-size="sm" 
                         p-click-out="false" 
                         [p-hide-close]=true
                         [p-secondary-action]="acaoLoginCancel"
                         [p-primary-action]="acaoLogin" >

    <div class="po-row">
        <po-combo [ngModel]="codEstabelecimento" (ngModelChange)="codEstabelecimento = $event" class="po-md-12"
         [p-options]="listaEstabelecimentos" p-label="Estabelecimento"
          p-icon="bi bi-pin-map" p-placeholder="Selecione o estabelecimento" p-clean="true">
          <ng-template p-combo-option-template let-option>
            <div class="po-row">
              <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
              <div class="po-sm-10 po-md-9 po-lg-11">
                <div class="po-font-text-large-bold">{{ option.label }}</div>
                <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
              </div>
            </div>
          </ng-template>
        </po-combo>
      </div>
    <div class="po-row">
      <po-input p-icon="bi bi-person-workspace"
                class="po-md-12"
                [(ngModel)]="codUsuario" 
                p-clean
                p-label="Usuário">
      </po-input>
    </div>

    <div class="po-row">
      <po-password class="po-md-12"
                   [(ngModel)]="senha" 
                   p-clean
                   p-label="Senha">
      </po-password>
    </div>
  </po-modal>